{% extends 'base.html' %}
    
    {% block content %}
    <div class="container m-5">
    <form action="/lotto/" method="GET" class="mt-5">
        <div class="row">
            <div class="col">
            <input type="number" name="count" class="form-control" placeholder="게임 수를 숫자로 입력해주세요." min = '0'>
            </div>
            <div class="col">
            <input type="submit" class="btn btn-primary" value="가보자">
            </div>
        </div>
    </form>
    </div>
   
    {% endblock content %}
    
   
    