{% extends 'base.html' %}
    
    {% block content %}

    <div class="container mt-5 d-flex flex-column justify-content-center align-items-center">
        <div class="d-flex gap-2">
          <input type="number" id="number" class="form-control" name="number">
          <button id="plus" type="submit" class="btn btn-lg btn-outline-primary">+</button>
        </div>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    {% endblock content %}
    
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <script>
        const divTag = document.querySelector('div')

       
        const plusBtn = document.querySelector('#plus')
        const result01 = document.querySelector('#result')
        const input01 = document.querySelector('#number')
        let count01 = 0
        
        plusbtn.addEventListener('click', (event) => {
            const numbers = _.range(1,46)
            const sixNumbers = _.sampleSize(numbers, 6)
        })

        //인풋 이벤트
        input01.addEventListener('input', (event) => {
        count01 = parseInt(event.target.value)
        })
        plusBtn.addEventListener('click', _ => {
        count02 = parseInt(result01.textContent) + count01

        if (-10 <= count02 && count02 <= 10) {
            result01.textContent = count02
        }   else if (count02 > 10) {
            result01.textContent = 10
        }   else {
            result01.textContent = -10
        }
    })
    </script>
    