
{% extends 'base.html' %}
    
    {% block content %}
    <header class="text-center mt-5">
        <h1>넌 날 지치게 해</h1>
    </header>
    <main>
       <div class="container mt-5">
            <form action="/catch/" method="GET">
                <div class="container">
                    <div class="row">
                        <div class="col">
                        <input type="text" class="form-control w-100" id="message" name="message">
                        </div>
                        <div class="col">
                        <button type="submit" class="btn btn-outline-primary">던져</button> 
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </main>    
    {% endblock content %}