{% extends 'accounts/base.html' %}

{% block content %}
<div class="container mt-5 d-flex justify-content-end">
    <div class="container">
        <div class="card" style="width: 20rem;">
            <div class="card-header text-dark">
            <h1>{{ post.pk }} - {{ post.title }}</h1>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p>내용 - {{post.content}}</p>
                </li>
                <li class="list-group-item">
                    <p>카테고리 - {{post.category}}</p>
                </li>
                <li class="list-group-item">
                    <p>마감기한 - {{post.deadline}}</p>
                </li>
                <li class="list-group-item d-flex justify-content-between"> 
                    <a href="{% url 'posts:update' post.pk %}" class="btn btn-primary" role="button">수정하기</a>
                    <form action="{% url 'posts:delete' post.pk %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="삭제하기" class="btn btn-outline-danger" role="button">
                    </form>
                </li>
                <li class="list-group-item"> 
                    <a href="{% url 'posts:index' %}" class="btn btn-outline-primary" role="button">돌아가기</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}