{% extends 'base.html' %}

{% block content %}
<header>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid d-flex justify-content-around">
    <h1 class="navbar-brand">할 일 목록</h1>
    <a href="{% url 'todos:create' %}" class="btn btn-outline-primary" role="button">가계부 생성</a>
    </div>
</nav>
</header>
<main>
<div class="container-fluid d-flex flex-column ms-5">
{% for todo in todos %}
    <ul>
        <li><a href="{% url 'todos:detail' todo.pk %}">{{ todo.pk }} - {{ todo.title }}</a> </li>
    </ul>
{% endfor %}
</div>
</main>

{% endblock content %}